{% extends "layout.html" %}
{% block content %}
<section class="bg">
    <div id="navbars">
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='img/adoptlogo.jpg') }}" alt="Adopt A Buddy logo">
            </div>
            <ul>
                <li class="navig"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="navig"><a href="{{ url_for('about') }}">About</a></li>
                <li class="navig"><a href="{{ url_for('profile') }}">Profile</a></li>
                <li class="navig"><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    </div>

    <div class="greet">
        <h1>ADOPT A BUDDY!!</h1>
        <h2>
            You can make a difference in their lives.<br><br>
            <b>OPEN YOUR HEART AND YOUR HOME.</b><br>
            For a pet who needs help,<br>
            they would show their appreciation<br>
            to you for the rest of their lives.
        </h2>
        <button id="ani"><a href="#animals">Let's Adopt</a></button>
    </div>
</section>

<section id="animals">
    <h2><b>READY TO WELCOME A NEW BUDDY HOME?</b><br><br>Adopt a new pet.</h2>
    <div class="animal">
        <img src="{{ url_for('static', filename='img/cat.jpg') }}" alt="Cat" onclick="window.location.href='{{ url_for('cat')}}';">
        <p>Smart Cats</p>
    </div>
    <div class="animal">
        <img src="{{ url_for('static', filename='img/dog.jpg') }}" alt="Dog" onclick="window.location.href='{{ url_for('dog') }}';">
        <p>Loyal Dogs</p>
    </div>
</section>
{% endblock %}