{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt a Buddy!</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <centre>Cats Available for Adoption</centre>
        <p>Find your new furry companion and give them a loving home.</p>
    </header>

    <main class="mains">
        <section class="cat-container">
            <div class="cat-profile">
                <div class="cat-img">
                    <img src="static/img/cat1.jpg" alt="Cute Cat">
                    <span class="posted-date">Posted on: 1st-May-2025</span>
                </div>
                <details>
                <div class="cat-info">
                    <h3>Snowy</h3>
                    <p><strong>Gender:</strong> Male</p>
                    <p><strong>Breed:</strong> British Shorthair</p>
                    <p><strong>Location:</strong> Mumbai</p>
                </div>
                </details>
                <button class="adopt-btn">Adopt</button>
            </div>

            <div class="cat-profile">
                <div class="cat-img">
                    <img src="static/img/cat2.jpg" alt="Persian Cat">
                    <span class="posted-date">Posted on: 1st-May-2025</span>
                </div>
                <details>
                <div class="cat-info">
                    <h3>Whiskers</h3>
                    <p><strong>Gender:</strong> Female</p>
                    <p><strong>Breed:</strong> Persian</p>
                    <p><strong>Location:</strong> Pune</p>
                </div>
                </details>
                <button class="adopt-btn">Adopt</button>
            </div>
            <div class="cat-profile">
                <div class="cat-img">
                    <img src="static\img\cat3.jpg" alt="British Babes">
                    <span class="posted-date">Posted on: 1st-May-2025</span>
                </div>
                <details>
                <div class="cat-info">
                    <h2> abcd123</h2>
                    <p><strong>Gender</strong>Male</p>
                    <p><strong>Breed</strong>British Shorthair</p>
                    <p><strong>Location</strong>Hydrabad</p>
                </div>
                </details>
                <button class="adopt-btn" onclick="adopt.html">Adopt</button>
            </div>
            <div class="cat-profile">
                <div class="cat-img">
                    <img src="static\img\cat4.jpg" alt="Siamese Sweeties">
                    <span class="posted-date">Posted on: 1st-May-2025</span>
                </div>
                <details>
                <div class="cat-info">
                    <h2>def456</h2>
                    <p><strong>Gender</strong>Female</p>
                    <p><strong>Breed</strong>Siamese</p>
                    <p><strong>Location</strong>Delhi</p>
                </div>
                </details>
                <button class="adopt-btn" onclick="adopt.html">Adopt</button>
            </div>
            <div class="cat-profile">
                <div class="cat-img">
                    <img src="static\img\cat5.jpg" alt="Burmese Beauties">
                    <span class="posted-date">Posted on: 1st-May-2025</span>
                </div>
                <details>
                <div class="cat-info">
                    <h2> hij123</h2>
                    <p><strong>Gender</strong>Male</p>
                    <p><strong>Breed</strong>Burmese</p>
                    <p><strong>Location</strong>Hydrabad</p>
                </div>
                </details>
                <button class="adopt-btn" onclick="adopt.html">Adopt</button>
            </div>
            <div class="cat-profile">
                <div class="cat-img">
                    <img src="static\img\cat6.jpg" alt=" cat">
                    <span class="posted-date">Posted on: 1st-May-2025</span>
                </div>
                <details>
                <div class="cat-info">
                    <h2>klm456</h2>
                    <p><strong>Gender</strong>Female</p>
                    <p><strong>Breed</strong>breed</p>
                    <p><strong>Location</strong>Karnataka</p>
                </div>
                </details>
                <button class="adopt-btn" onclick="adopt.html">Adopt</button>
            </div>
            <div class="cat-profile">
                <div class="cat-img">
                    <img src="static\img\cat7.jpg" alt="Coon cutties">
                    <span class="posted-date">Posted on: 1st-May-2025</span>
                </div>
                <details>
                <div class="cat-info">
                    <h2>Shadow</h2>
                    <p><strong>Gender:</strong>Male</p>
                    <p><strong>Breed:</strong>Maine Coon</p>
                    <p><strong>Location:</strong>Pune</p>
                </div>
                </details>
                <button class="adopt-btn" onclick="adopt.html">Adopt</button>
            </div>
            <div class="cat-profile">
                <div class="cat-img">
                    <img src="static\img\cat8.jpg" alt="cutties">
                    <span class="posted-date">Posted on: 1st-May-2025</span>
                </div>
                <details>
                <div class="cat-info">
                    <h2>----</h2>
                    <p><strong>Gender:</strong>Male</p>
                    <p><strong>Breed:</strong>Breed--</p>
                    <p><strong>Location:</strong>Pune</p>
                </div>
                </details>
                <button class="adopt-btn" onclick="adopt.html">Adopt</button>
            </div>
        </section>
    </main>
</body>
</html>
{% endblock %}