{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial scale=1.0">
    <link rel="stylesheet" href="astyle.css">
    </head>
    <h2> Dogs available for Adoption</h2>
    <body>
        <section class="dog-container">
            <div class="dog-profile">
                <div class="dog-img">
                    <img src="static\img\dog1.jpg" alt="cutie reema">
                    <span class="posted-date">Posted On:2nd May,2025</span>
                </div>
                <details>
                <div class="dog-info">
                    <h3>Reema</h3>
                    <p><strong>Age:</strong>2 Months</p>
                    <p><strong>Gender:</strong>Male</p>
                    <p><strong>Breed:</strong>Indie</p>
                    <p><strong>Location:</strong>Pune</p>
                </div>
                </details>
                <button class="adpt" onclick="adopt.html">Adopt</button>
            </div>
            <div class="dog-profile">
                <div class="dog-img">
                    <img src="static\img\dog2.jpg" alt="Milo-Lab">
                    <span class="posted-date">Posted On:2nd May,2025</span>
                </div>
                <details>
                <div class="dog-info">
                    <h3>Milo</h3>
                    <p><strong>Age:</strong>5 Months</p>
                    <p><strong>Gender:</strong>Male</p>
                    <p><strong>Breed:</strong>Laabrador</p>
                    <p><strong>Location:</strong>Pimpri</p>
                </div>
                </details>
                <button class="adpt" onclick="adopt.html">Adopt</button>
            </div>
            <div class="dog-profile">
                <div class="dog-img">
                    <img src="static\img\dog3.jpg" alt="puppy">
                    <span class="posted-date">Posted On:2nd May,2025</span>
                </div>
                <details>
                <div class="dog-info">
                    <h3>Tyson</h3>
                    <p><strong>Age:</strong>2 Months old</p>
                    <p><strong>Gender:</strong>Male</p>
                    <p><strong>Breed:</strong>breed</p>
                    <p><strong>Location:</strong>Mumbai</p>
                </div>
                </details>
                <button class="adpt" onclick="adopt.html">Adopt</button>
            </div>
            <div class="dog-profile">
                <div class="dog-img">
                    <img src="static\img\dog4.jpg" alt="puppy">
                    <span class="posted-date">Posted On:3rd May,2025</span>
                </div>
                <details>
                <div class="dog-info">
                    <h3>Kiara</h3>
                    <p><strong>Age:</strong>3 Months old</p>
                    <p><strong>Gender:</strong>Female</p>
                    <p><strong>Breed:</strong>breed</p>
                    <p><strong>Location:</strong>Balewadi,Pune</p>
                </div>
                </details>
                <button class="adpt" onclick="adopt.html">Adopt</button>
            </div>
            <div class="dog-profile">
                <div class="dog-img">
                    <img src="static\img\dog5.jpg" alt="indie puppy">
                    <span class="posted-date">Posted On:3rd May,2025</span>
                </div>
                <details>
                <div class="dog-info">
                    <h3>Daisy</h3>
                    <p><strong>Age:</strong>55 Days</p>
                    <p><strong>Gender:</strong>Female</p>
                    <p><strong>Breed:</strong>Indie</p>
                    <p><strong>Location:</strong>Mumbai</p>
                </div>
                </details>
                <button class="adpt" onclick="adopt.html">Adopt</button>
            </div>
            <div class="dog-profile">
                <div class="dog-img">
                    <img src="static\img\dog6.jpg" alt=" pup">
                    <span class="posted-date">Posted On:4th May,2025</span>
                </div>
                <details>
                <div class="dog-info">
                    <h3>Rimin</h3>
                    <p><strong>Age:</strong>2 Months old</p>
                    <p><strong>Gender:</strong>Male</p>
                    <p><strong>Breed:</strong>Pup</p>
                    <p><strong>Location:</strong>Mumbai</p>
                </div>
                </details>
                <button class="adpt" onclick="adopt.html">Adopt</button>
            </div>
            <div class="dog-profile">
                <div class="dog-img">
                    <img src="static\img\dog7.jpg" alt="leo">
                    <span class="posted-date">Posted On:5th May,2025</span>
                </div>
                <details>
                <div class="dog-info">
                    <h3>Leo</h3>
                    <p><strong>Age:</strong>2.5 Months old</p>
                    <p><strong>Gender:</strong>Male</p>
                    <p><strong>Breed:</strong>Beagle</p>
                    <p><strong>Location:</strong>Mumbai</p>
                </div>
                </details>
                <button class="adpt" onclick="adopt.html">Adopt</button>
            </div>
            <div class="dog-profile">
                <div class="dog-img">
                    <img src="static\img\dog8.jpg" alt="indie">
                    <span class="posted-date">Posted On:5th May,2025</span>
                </div>
                <details>
                <div class="dog-info">
                    <h3>Rocky</h3>
                    <p><strong>Age:</strong>2.5 Months old</p>
                    <p><strong>Gender:</strong>Male</p>
                    <p><strong>Breed:</strong>Indie-mix</p>
                    <p><strong>Location:</strong>andheri</p>
                </div>
                </details>
                <button class="adpt" onclick="adopt.html">Adopt</button>
            </div>
            <div class="dog-profile">
                <div class="dog-img">
                    <img src="static\img\dog9.jpg" alt="lucy">
                    <span class="posted-date">Posted On:7nd May,2025</span>
                </div>
                <details>
                <div class="dog-info">
                    <h3>Lucy</h3>
                    <p><strong>Age:</strong>1.5 Months old</p>
                    <p><strong>Gender:</strong>Female</p>
                    <p><strong>Breed:</strong>Labrador</p>
                    <p><strong>Location:</strong>Pune</p>
                </div>
                </details>
                <button class="adpt" onclick="adopt.html">Adopt</button>
            </div>
        </section>
    </body>
</html>
{% endblock %}